.wrapper{
    display:  flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: var(--default-layout-width);
    min-height: 92vh;
    background-color: gold   ;
    display: flex;
}
.container{
    flex: 1;
}